<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
        <package android:name="com.facebook.katana" />

    </queries>

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />


    <application
        android:name="com.teamx.mariaFoods.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/account"
        android:label="MariaFoods"
        android:roundIcon="@drawable/account"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/NoAppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">


        <service
            android:name="com.teamx.mariaFoods.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.teamx.mariaFoods.ui.activity.mainActivity.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>